<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Adicionar venda</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="createSaleForm">
            <div class="modal-body" id="modal-body">
                <h4>Produtos:</h4>
                <div class="panel-group" id="accordion">
                    <button class="panel panel-default mx-auto" ng-repeat="product in createSaleCtrl.products">
                        <div class="panel-heading">
                            <h4 class="panel-title font-weight-bold">
                                <div class="col-sm">
                                    <div class="row">
                                        <a data-toggle="collapse" data-parent="#accordion" ng-click="createSaleCtrl.addOrRemoveProduct(product)">{{product.name}}</a>
                                        <span class="glyphicon glyphicon-ok" style="color:forestgreen;" ng-if="createSaleCtrl.hasProduct(product)"></span>
                                    </div>
                                    <div class="form-group" style="height: 10px;">
                                        <input class="form-control" placeholder="Quantidade" ng-model="createSaleCtrl.productQuantity[product.barCode]">
                                    </div>
                                </div>
                            </h4>
                        </div>
                    </button>
                </div>
            </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="createSaleForm.$invalid" ng-click="createSaleCtrl.createSale()">Criar</button>
    <button class="btn btn-danger" type="button" ng-click="createSaleCtrl.cancel()">Cancelar</button>
</div>
