<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Adicionar Produto</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="createProductForm">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" required ng-model="product.name"/>
    </div>
    <div class="form-group">
      <label>Código de barra</label>
      <input type="text" class="form-control" required ng-model="product.barCode"/>
    </div>
    <div class="form-group">
      <label>Fabricante</label>
      <input type="text" class="form-control" required ng-model="product.producer"/>
    </div>
    <div class="form-group">
      <label>Categoria</label>
      <input type="text" class="form-control" required ng-model="product.category"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="createProductForm.$invalid" ng-click="cpCtrl.createProduct(product)">Criar</button>
  <button class="btn btn-danger" type="button" ng-click="cpCtrl.cancel()">Cancelar</button>
</div>
