<div class="modal-header">
    <div class="col-md-8">
        <h3 class="modal-title" id="modal-title">Detalhe da venda {{saleDetailsCtrl.sale.id}}</h3>
    </div>
    <div class="col-md-4" align="right">
        <button class="btn btn-danger btn-sm" type="button" ng-click="saleDetailsCtrl.close()">x</button>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <h4>Produtos:</h4>
    <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="product in saleDetailsCtrl.sale.products">
            <div class="panel-heading">
                <h4 class="panel-title font-weight-bold">
                <span data-toggle="collapse" data-parent="#accordion">{{product.name}}</span>
                </h4>
            </div>
            </div>
    </div>
</div>
    